default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  host: localhost
development:
  <<: *default
  database: library_development
test:
  <<: *default
  database: library_test
  host: localhost
production:
  <<: *default
  database: library_production
